:root {
    --main-pink-color:#f85a7f;
    --darker-pink-color: #f63461;
    --light-pink-color: #fcb9c9;
}

body {
    background-color: white;
    padding: 20px;
}

header {
    background: var(--light-pink-color);
    padding: 20px;
}
  
h1 {
    color: var(--main-pink-color);
}

h2 {
    color: var(--main-pink-color);
}

h3 {
    color: var(--main-pink-color);
}

nav {
    background-color: var(--main-pink-color);  
    color: white;
    display: flex; 
    justify-content: space-around;  
    align-items: center;
    height: 50px;  
}
  
nav ul {
    list-style: none; 
    display: flex; 
    margin: 0;
    padding: 0;
}
  
nav ul li {
    margin: 0 15px; 
}
  
nav ul li a {
    color: white;  
    text-decoration: none;
    font-size: 16px; 
    padding: 1dvw 2dvh; 
    display: block; 
}
  
nav ul li a:hover {
    background-color: var(--darker-pink-color);  
}

.active {
    background-color: var(--darker-pink-color);  
}